body {
    height: 100%;
}

input {
    border-radius: 1em;
    padding: 1em;
    border: 2px solid turquoise;
}

.form-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(6px);
    position: absolute;
    top:0 ;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.show-overlay {
    display: flex;
}

.book-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}